<h1 class="text-warning">Главная страница</h1>
<% @post.each do |post| %>
<div class="alert bg-dark">
<h4 class="text-white"><%= post.user.name %></h4>
<br>
<h3 class="text-white"><%= post.title %></h3>
<h5 class="text-white"><%= post.body %></h5>

<%= link_to "Читать далее", post_path(post), :class => 'btn btn-warning' %>
</div>
<% end %>
